@model IEnumerable<ZamiuxFixer.Domain.Questions.Question>
@using ZamiuxFixer.Application.Convertor

@{
    ViewData["Title"] = "داشبورد اصلی";
    Layout = "~/Areas/UserPanel/Views/Shared/_UserPanelLayout.cshtml";
}

<!-- follow -->
<div class="follow-layer hidden-xs">

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="statistics-section layer-style">
                <i class="icon-avatar"></i>
                <span class="number"> 152  نفر </span>
                <span class="title"> دنبال کنندگان </span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="statistics-section layer-style">
                <i class="icon-user-2"></i>
                <span class="number"> 1245  نفر </span>
                <span class="title"> دنبال شونده ها </span>
            </div>
        </div>
    </div>

</div>
<!-- /follow -->

<section class="questions-layer layer-style">
    <header><h2> <i>آخرین پرسش و پاسخ های من</i> <span class="answer"><i class="icon-comment"></i> پاسخ </span> <span class="question"><i class="icon-question-mark"></i> پرسش </span> </h2></header>

    @foreach (var item in Model)
    {
        <article class="question">
            <h3> <a href="/Show-Question/@item.QuestionId">@item.Title</a> <span> @item.CreateDate.ToShamsi() </span> </h3>
            <div class="detail">
                <span><i class="icon-eye"></i> @item.QuestionVisit بازدید </span>
                <span><i class="icon-star"></i> @item.QuestionFavorites?.Count() امتیاز </span>
                <span><i class="icon-comment"></i> 12 پاسخ </span>
                <span><i class="icon-user-shape"></i> آخرین پاسخ دهنده : <a href=""> ناشناس </a> </span>
            </div>
        </article>
    }
   @* <!-- item -->
    <article class="question">
        <h3> <a href=""> نحوه ی پیاده سازی یک فروشگاه اینترنتی با بهترین فریم ورک php </a> <span> 23 دقیقه پیش </span> </h3>
        <div class="detail">
            <span><i class="icon-eye"></i> 123 بازدید </span>
            <span><i class="icon-star"></i> 12 امتیاز </span>
            <span><i class="icon-comment"></i> 12 پاسخ </span>
            <span><i class="icon-user-shape"></i> آخرین پاسخ دهنده : <a href=""> ایمان مدائنی </a> </span>
        </div>
    </article>
    <!-- item -->
    <!-- item -->
    <article class="answer">
        <h3> <a href=""> نحوه ی پیاده سازی یک فروشگاه اینترنتی با بهترین فریم ورک php </a> <span> 23 دقیقه پیش </span> </h3>
        <div class="detail">
            <span><i class="icon-eye"></i> 123 بازدید </span>
            <span><i class="icon-star"></i> 12 امتیاز </span>
            <span><i class="icon-comment"></i> 12 پاسخ </span>
            <span><i class="icon-user-shape"></i> آخرین پاسخ دهنده : <a href=""> ایمان مدائنی </a> </span>
        </div>
    </article>
    <!-- item -->*@
 

</section>

