@model ZamiuxFixer.Application.ViewModels.Account.ProfileVM
<!-- account heading -->
<div class="account-heading layer-style">
    <!-- active account Use "green" , deactive account use "red" -->
    <span class="info"> <i class="icon-user-shape"></i> @Model.JobTitle در <i class="icon-briefcase"></i>  فریلنسر از <i class="icon-maps-and-flags"></i> @Model.Country </span>
    <span class="view"> @Model.ProfileVisit بازدید از پروفایل <i class="icon-avatar"></i> </span>
</div>
<!-- /account heading -->