@model ZamiuxFixer.Domain.Users.User


    @if (User.Identity.IsAuthenticated)
    {
        <div class="loggedin-status">
            <i class="icon-profile"></i>
            <span> حساب کاربری شما  </span>
            <div class="sublayer">
                <div class="avatar">
                    <a href=""><img src="@(!string.IsNullOrEmpty(Model.Avatar) ? "/images/Avatars/" + Model.Avatar : "/images/pic/avatar.jpg")"></a>
                    <div>
                        <span class="fullname"> @Model.UserName </span>
                        <span class="detail"> 123 پرسش | 1236 پاسخ </span>
                    </div>
                </div>
                <ul>
                    @*images/pic/avatar.jpg*@
                    <li><a href="/userpanel"> مشاهده حساب کاربری </a></li>
                    <li><a asp-area="UserPanel" asp-controller="Home" asp-action="EditProfile"> تنظیمات حساب کاربری </a></li>
                    @*<li><a href=""> ویرایش حساب کاربری </a></li>*@
                    <li><a asp-area="UserPanel" asp-controller="Home" asp-action="ChangePassword"> تغییر رمز عبور </a></li>
                    <li><a href=""> پرسش های من </a></li>
                    <li><a href=""> پاسخ های من </a></li>
                    <li><a href="/Logout"> خروج از حساب کاربری </a></li>
                </ul>
            </div>
        </div>
    }


